# Application Host Ports
NGINX_PORT=80
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
NODE_PORT=3000
JAVA_PORT=8080
MONGO_PORT=27017

# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword
MONGO_DB_NAME=devopsdb
MONGO_URI=mongodb://admin:adminpassword@mongodb:27017/devopsdb?authSource=admin
